:root {
    --primary-text-color: #757575;
    --title-text-color:  #212121;
    --accent-color: #2196F3;
    --accent-color-card: rgba(33, 150, 243, 0.9);
    --hero-text-color: #FFFFFF;
    --transparent-color: rgba(255, 255, 255, 0.6);
    --icon-main-color:  #AFB1B8;

    --background-main-color: #E5E5E5; 
    --background-secondary-color: #F5F4FA;
    --background-hero-color: #C4C4C4;
    --background-hero-footer-color: #2F303A;
    --background-head-color: #FFFFFF;

    --animation-duration: 250ms;
    --animation-type: cubic-bezier(0.4, 0, 0.2, 1);
}          
        /* цвет основного текста (светло-серый)  #757575; */
        /* цвет вторичного текста (заголовки, ближе к черному) #212121; */
        /* цвет акцента #2196F3; */
        /* цвет текста героя и почтового адреса (белый) #FFFFFF; */
        /* цвет прозрачный (адрес) rgba(255, 255, 255, 0.6); */

        /* цвет фона основной (белее) #E5E5E5; */
        /* цвет фона вторичный (серее) #F5F4FA; */
        /* цвет фона героя и футера #2F303A */
        /* цвет фона в хедере (белый) #FFFFFF */

body {
    font-family: 'Roboto', sans-serif;

    color: var(--primary-text-color);
}

h1, 
h2, 
h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

main {
    background-color: var(--background-main-color--);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1, 
h2,
h3,
ul,
p {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

/* Common */

.container {
    display: inline-flex;
    align-items: center;

    width: 1200px;
    padding: 0 15px;
	margin: 0 auto;
}


/* Header */

.page-header {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    
    border-bottom: 1px solid var(--background-secondary-color);

    background-color: var(--background-head-color);
}

.head {
    display: flex;
    align-items: center;

    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.mail-svg,
.phone-svg {
    margin-right: 10px;
}

.adrress:focus {
    fill: var(--accent-color)
}
    
/* Logo */

.logo-blue {
    margin-right: 95px;

    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;

    color: var(--accent-color);
}
.logo-black {
    color: var(--title-text-color);
}
.logo-white {
    color: var(--hero-text-color);
}

/* Site-nav */

.navigation {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    align-items: center;
}

.site-nav > .item:not(:last-child) {
    margin-right: 40px;
}

.site-nav .header-link {
    display: inline;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;

    color: var(--title-text-color);
}

.site-nav .header-link:hover,
.site-nav .header-link:focus{
    color: var(--accent-color);
}

.site-nav .header-link.current {
    color: var(--accent-color);
}

/* Оформлення підкреслення в хедері */

.header-link{
    position: relative;
    display: block;
    transition: color var(--animation-duration) var(--animation-type);
}

.header-link::after {
    content: '';

    position: absolute;
    bottom: -2px;
    left: 0;

    display: block;
    width: 100%;
    height: 4px;

    border-radius: 2px;
    background-color: var(--accent-color);
    opacity: 0;

    transition: opacity var(--animation-duration) var(--animation-type);
}
.current.header-link:after,
.header-link:hover:after {
    opacity: 1;
}

/* Adrress effect */

.adrress-header {

    display: flex;
    align-items: center;
    margin-left: auto;
}

.adrress{
    position: relative;
    display: block;
    transition: color var(--animation-duration) var(--animation-type);
}

.adrress::after {
    content: '';
    opacity: 0;
    transition: opacity var(--animation-duration) var(--animation-type);
}

.adrress:hover:after {
    opacity: 1;
}

.adrress-header .adrress,
.adrress-footer .adrress {
    fill: var(--primary-text-color);
    color: var(--primary-text-color);
}

.adrress-header .adrress {
    display: inline-block;
    padding: 32px 0;
    
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.adrress-header .adrress:hover,
.adrress-header .adrress:focus,
.adrress-footer .adrress:hover,
.adrress-footer .adrress:focus{
    color: var(--accent-color);
    fill: currentColor;
}

.mail-link {
    margin-left: auto;
}

.mail-link:not(:last-child) { 
    margin-right: 30px;
}

.adrress-post {
    margin-top: 20px;
    margin-bottom: 9px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--hero-text-color);
}

.adrress-footer {
    margin-bottom: 9px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* Hero */

.hero {
    padding: 0;
    margin: 0 auto;
    text-align: center;

    background-color: var(--background-hero-color);
}

/* Ставить картинку на героя */

.overlay {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)
        ), url(../images/hero-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.hero-title {
    margin: 0 auto 30px;
    
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--hero-text-color);
}

.heading-container {
    width: 696px;
    height: 120px;
    margin: 0 auto;
}

/* Button */

.button {
    padding: 10px 32px;
    min-width: 200px;
    align-items: baseline;
    text-align: center; 
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    
    letter-spacing: 0.06em;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    color: var(--hero-text-color); 
    background-color: var(--accent-color);
}

.button:hover,
.button:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Section*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.employment-title {
    margin-bottom: 50px;
    display: block;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-text-color);
}

.title-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* Feature-list */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
} 

.feature-list {
    display: flex;
}

.feature-svg {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    padding: 25px 0px;
    background-color: var(--background-secondary-color);
    border-radius: 4px;
}

.item-svg {
  
    width: 70px;
    height: 70px;
}
.feature-benefits:not(:nth-child(4n)) {
    margin-right: 30px;
}

.feature-benefits {
    width: calc((1170px - 90px) / 4);
}

.icon-benefits {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--background-secondary-color);
}

.feature-list .title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--title-text-color);
}

.feature-list-description {
    
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

/* Employment */

.employment-section {
    padding-top: 0;
    padding-bottom: 94px;
}

.container {
    display: block;
}

.team-heading {
    display: block;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-text-color);
}

.employment {
    
    display: flex;
    justify-content: space-between;
}

.employment .item {
    position: relative;
    width: 370px;
}

.employment-overlay::before {
    position: absolute;
}

.employment-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--hero-text-color);
    background: rgba(47, 48, 58, 0.8);
}

.employment-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.product-overlay {
    position: relative;
    display: flex;
}

/* Our-team */

.team-section {
    background-color: var(--background-secondary-color);
}

.team-list {
    display: flex;
    justify-content: space-between;
    border-radius: 0px;
}

.social .distance:not(:last-child) {
    margin-right: 10px;
}

.team-card {
    height: 428px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 
    0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    }

.card-face {
    margin-bottom: 30px;
}

.team-list .person {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-text-color);
}

.duties {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.social {
    display: flex;
    justify-content: center;
}

.master-icon:focus,
.master-icon:hover {
    background-color: var(--accent-color);
    color: var(--hero-text-color);
}

.master-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    background-color: #FFFFFF;
    color: var(--icon-main-color);

    transition: background-color var(--animation-duration) var(--animation-type)
}

.icon-social {
    fill: currentColor;
}
.position{
    display: flex;
    align-items: baseline;
}

/* Постоянные клиенты */

.client-heading {
    display: block;
    margin-top: 94px;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-text-color);
}

.client-icon {
    display: flex;
    justify-content: space-around;
    padding-bottom: 94px;
}

.list {
    list-style: none;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.client-container {
    width: 170px;
    height: 90px;
}

.client-container:not(:last-child) {
    margin-right: 30px;
}

.client-link:focus,
.client-link:hover {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.client-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: var(--icon-main-color);
    
    transition: var(--animation-duration) var(--animation-type);
}

/* Футер */

.footer-apendix {
    margin-bottom: 20px;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-hero-footer-color);
}

.adrress-footer .adrress-item:not(:last-child) {
    margin-bottom: 9px;
    
}

.socials-footer {
    display: block;
    margin-left: 70px;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--hero-text-color);
}

.master-social:hover,
.master-social:focus {
    background-color: var(--accent-color);
    color: var(--hero-text-color);
}

.socials-link {
    display: inline-flex;
    justify-content: center;
}

.socials-link .roster:not(:last-child) {
    margin-right: 10px;
}

.master-social {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    background-color: rgba(255, 255, 255, 0.1);
    color: var(--hero-text-color);

    transition: background-color var(--animation-duration) var(--animation-type)
}

                /* Стили для portfolio.html */

/* Butoons */

.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.filter-item {
	display: flex;
	justify-content: center;
    margin-bottom: 34px;
}

.filter-list:not(:last-child) {
    margin-right: 8px;
}

.filter-btn{
    padding: 6px 22px;

    align-items: baseline;

    cursor: pointer;
    border-style: none;
    border-radius: 4px;
    min-width: 73px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-text-color);
    background-color: var(--background-secondary-color);

    transition: background-color var(--animation-duration) var(--animation-type);
}

.filter-btn:hover,
.filter-btn:focus{
    color: var(--hero-text-color);
    background-color: var(--accent-color-card);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 1px 2px rgba(0, 0, 0, 0.08), 
                0px 2px 2px rgba(0, 0, 0, 0.12);
}

                /* All offers */
 
.joboffer {   
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.offers-list { 
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--title-text-color);
} 

/* Оверлей та анімація для карток */

.master-photo {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.portfolio-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    background-color:var(--accent-color-card);

    transition: transform var(--animation-duration) var(--animation-type);

    transform: translateY(100%);
}

.item:hover .portfolio-overlay {
    transform: translateY(0);
}

.offers-item-link:focus .portfolio-overlay {
    transform: translateY(0);
}

.offers-list .item {
    width: 370px;

    outline: 1px solid #eeeeee;
    margin-right: 30px;
    margin-bottom: 30px;

    background-color: #fff;
}

.offers-list .item:nth-child(3n) {
    margin-right: 0;
}

.offers-list .item:nth-last-child(-n +3) {
    margin-bottom: 0;
}
.offers-list a,
.offers-list img {
    display: block;
}

.heading {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}    
.offers-item-link:focus,
.offers-item-link:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
                0px 4px 4px rgba(0, 0, 0, 0.06), 
                1px 4px 6px rgba(0, 0, 0, 0.16);
}

.offers-item-link .offers-info {
    padding: 20px 24px;
}

/* Card text */

.paragraf-text {
    position: absolute;
    
    display: flex;

    color: var(--hero-text-color);
    width: 322px;
    height: 168px;
    top: 63px;
    right: 24px;
    bottom: 63px;
    left: 24px;

    font-weight: normal;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
}

.master-photo:hover .paragraf-text,
.master-photo:focus .paragraf-text {
    opacity: 1;
}

/* Бекдроп для Студії */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal-window {
    box-sizing: border-box;
    width: 528px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: var(--background-head-color);
}

.modal-close-buttom {
    position: absolute;

    top: 8px;
    right: 8px;
    height: 30px;
    width: 30px;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--background-head-color);
    
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color var(--animation-duration) var(--animation-type);
}

.icon-modal-close {
    fill: currentColor;
}

.modal-close-buttom:focus,
.modal-close-buttom:hover {
    cursor: pointer;
    color: var(--accent-color);
    fill: var(--accent-color);
}

/* Розмітка модалки */

.modal-title {
    margin-bottom: 30px;

    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-text-color);
}

.submit-button {  
    justify-content: center;     
    text-align: center;
    min-width: 200px;
    
    padding: 10px 32px;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    cursor: pointer;
    border-radius: 4px;
    border: none;

    color: var(--hero-text-color); 
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.submit-button-position {
    display: flex;
    justify-content: center;
}

.form-field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

}

.form-lable {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

/* .form-field input { */

.form-input  {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: fill var(--animation-duration) var(--animation-type);
}

.form-coment {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    height: 120px;
}   

textarea {
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.input-comment {
    padding: 12px 16px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    color: var(--title-text-color);
}

.label-field {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.2;
    color: var(--primary-text-color);
}

.checkbox-field {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.checkbox-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
}
.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.checkbox:checked + .checkbox-icon {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    background-image: url(../images/full-check.svg);
    background-size: contain;
    background-origin: border-box;
}

.checkbox-field:focus-within>.checkbox-icon {
    border-color: var(--accent-color);
}

.ageement-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--accent-color);
}

.label-chekbox {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}

.icon-modal-close {
    fill: currentColor;
}

.input-icon {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 10px;
}

.form-field:focus-within>.input-icon {
    fill: var(--accent-color);
}

/* Блок для підписки */

.subscribe-container {
    margin-left: auto;
    align-items: center;
}
.form {
    display: inline-block;
    width: 100%;
}

.subscribe-lable {
    margin-bottom: 20px;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--hero-text-color);
}

.subscribe-form {
    display: flex;
}

.subscribe-input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    padding-left: 16px;
    border-radius: 4px;

    background-color: transparent;
    color: var(--hero-text-color);

    transition-property: border;
    transition: transform var(--animation-duration);
}

.subscribe-button {
    display: flex;
    align-items: center;  
    justify-content: center;     
    text-align: center;
    min-width: 200px;

    padding: 10px 32px;
    margin-left: 12px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
        
    letter-spacing: 0.06em;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    color: var(--hero-text-color); 
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
    transition-timing-function: var(--animation-type); 
    transition: background-color var(--animation-duration) var(--animation-type);
    }

.subscribe-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    margin-left: 10px;
}

.subscribe-input:placeholder-shown {
    font-size: 16px;
    line-height: 1.25;
    
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
}

