    $primary-text-color: #757575;
    $title-text-color:  #212121;
    $accent-color: #2196F3;
    $accent-color-card: rgba(33, 150, 243, 0.9);
    $hero-text-color: #FFFFFF;
    $transparent-color: rgba(255, 255, 255, 0.6);
    $icon-main-color:  #AFB1B8;

    $background-main-color: #E5E5E5; 
    $background-secondary-color: #F5F4FA;
    $background-hero-color: #C4C4C4;
    $background-hero-footer-color: #2F303A;
    $background-head-color: #FFFFFF;

    $animation-duration: 250ms;
    $animation-type: cubic-bezier(0.4, 0, 0.2, 1);

    $main-font-family: 'Roboto', sans-serif;